body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

header {
    background-color: #17a673;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header a {  
    color: white; 
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.section_contactos {
    width: 80%;
    max-width: 950px;
    margin: 0 auto 60px auto;
    padding: 100px;
    background: #17a673;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card_correo {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

.card_whatsapp{
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

.card_instagram{
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

.card{

}

.section_consulta{
width: 80%;
    max-width: 950px;
    margin: 0 auto;
    padding: 100px;
    background: #17a673;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cons_nom{
background: #17a673;
    color: #333;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 900px;
    height: 80px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.cons_email{
background: #17a673;
    color: #333;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 900px;
    height: 80px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.cons_tele{
   background: #17a673;
    color: #333;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 900px;
    height: 80px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.cons_nom input,
.cons_email input,
.cons_tele input {
    width: 90%;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.boton_envio {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn{
    
}
